/* stylelint-disable */

.f-align-center{
    @apply flex items-center;
}

.cursor-w-resize{
    cursor: w-resize;
}

.task-item-drag-icon{
    left: -1.8rem;
    width: 1.5rem;
    height: 1rem;
}

